@model proiectasp.Models.ApplicationUser

<h2>Editare user</h2>
<br />

<div class="container">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "ApplicationUsers",
    method: FormMethod.Post,
    routeValues: new { id = Model.Id }))
    {
        @Html.Label("UserName", "Nume de utilizator")
        <br />
        @Html.TextBox("UserName", null, new { @class = "form-control" })
        @Html.ValidationMessage("UserName", null, new { @class = "text-danger" })
        <br />

        <br />

        @Html.Label("Signature", "Semnatura")
        <br />
        @Html.TextBox("Signature", null, new { @class = "form-control" })
        @Html.ValidationMessage("Signature", null, new { @class = "text-danger" })
        <br />

        <br />

        @Html.Label("LockStatus", "Vizibilitate cont")
        @Html.DropDownListFor(m => m.LockStatus,
                new SelectList(Model.LockOpt, "Value", "Text"),
                "Vizibilitate:", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LockStatus, null, new { @class = "text-danger" })
        <br />


        <button class="btn btn-warning" type="submit"> <i class="bi bi-pencil-fill"></i> Modifica user</button>
    }
</div>